<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="encode" version="1.0.0" targetFramework="native" />
  <package id="exception" version="1.0.0" targetFramework="native" />
  <package id="FastNoiseLite" version="1.1.1" targetFramework="native" />
  <package id="fmt" version="12.1.0" targetFramework="native" />
  <package id="glm" version="1.0.3" targetFramework="native" />
  <package id="logger" version="1.0.0" targetFramework="native" />
  <package id="magic_enum" version="0.9.7" targetFramework="native" />
  <package id="mimalloc" version="3.2.6" targetFramework="native" />
  <package id="parallel_hashmap" version="2.0.0" targetFramework="native" />
  <package id="xsimd" version="14.0.0" targetFramework="native" />
</packages>